@charset "utf-8";
@import "../layui-v2.4.5/layui/css/layui.css";
body {
    background: url(../images/bg.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.login {
    margin: 120px auto 0 auto;
    min-height: 420px;
    max-width: 420px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
.login .message {
    margin: 10px 0 0 -58px;
    padding: 18px 10px 18px 60px;
    background: #189F92;
    position: relative;
    color: #fff;
    font-size: 16px;
}
.login #dark {
    background: url(../images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -58px;
    position: relative;
}
.login hr {
    background: #fff 0 0 no-repeat;
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.login .layui-form-item{
    position:relative;
}
.login .layui-form-item label{
    position:absolute;
    color:#757575;
    left:10px;
    top:9px;
    line-height:20px;
    background:#fff;
    padding:0 5px;
    font-size:14px;
    cursor:text;
    transition: all 0.2s linear 0.2s;
}
.login .layui-form-item.layui-input-focus label{
    top:-10px;
    font-size:12px;
    color:#ff6700;
    transition: all 0.2s linear 0.2s;
}
.login .layui-form-item.layui-input-active label{
    top:-10px;
    font-size:12px;
    transition: all 0.2s linear 0.2s;
}
.login .layui-input::-webkit-input-placeholder{
    color:#fff;
}
.login .layui-input::-moz-placeholder{
    color:#fff;
}
.login .layui-input:-ms-input-placeholder{
    color:#fff;
}
.login .layui-input::placeholder{
    color:#fff;
}
.login .layui-form-item.layui-input-focus input{
    border-color:#ff6700 !important;
    transition: all 0.2s linear 0.2s;
}
.login .layui-input-focus .layui-input::-webkit-input-placeholder{
    color:#757575;
}
.login .layui-input-focus .layui-input::-moz-placeholder{
    color:#757575;
}
.login .layui-input-focus .layui-input:-ms-input-placeholder{
    color:#757575;
}
.login .layui-input-focus .layui-input::placeholder{
    color:#757575;
}
.login .layui-input-focus .layui-input::-webkit-input-placeholder{
    transition: color 0.2s linear 0.2s;
    -webkit-transition: color 0.2s linear 0.2s;
}
.login .layui-input-focus .layui-input::-moz-placeholder{
    transition: color 0.2s linear 0.2s;
}
.login .layui-input-focus .layui-input:-ms-input-placeholder{
    transition: color 0.2s linear 0.2s;
}
.login .layui-input-focus .layui-input::placeholder{
    transition: color 0.2s linear 0.2s;
    -webkit-transition: color 0.2s linear 0.2s;
}